<h1>Password Reset</h1>
<h2>If you've lost your password or wish to reset it, use the link below to get started.</h2>
<p><a href="{{url}}">{{url}}</a></p>
<p>If you did not request a password reset, you can safely ignore this email. Only a person with access to your email account can reset your account password.</p>